<!DOCTYPE html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="/main.css">

</head>
<body>

		<h1>NYC Eats</h1>
		<h2>An NYC-centric food review site.</h2>

		<ul class= "links">
		  <li class = "one"> <a href="/">All Resturants</a></li>
		  <li class = "one"><a href="/signup">Sign Up</a></li>
		  <li class = "one"><a href="/login">Login</a></li>
		</ul>
		
		{{{body}}}
</body>

<footer>Your session's total page visits: {{count}} </footer>
</html>