<!DOCTYPE html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="/main.css">

</head>
<body>
		<img src="https://cdn.dribbble.com/users/1480043/screenshots/3255350/z_nyc_03.gif" height="200px" width="200px" class="center">
		<h1>NYC EATS</h1> 
		<h2>An NYC-centric food review site.</h2>

		<ul class= "links">
		  <li class = "one"> <a href="/">All Resturants</a></li>
		  <li class = "one"><a href="/random">Random</a></li>
		  <li class = "one"><a href="/signup">Sign Up</a></li>
		  <li class = "one"><a href="/login">Login</a></li>
		  <li class = "one"><a href="/resturant">Add Review</a></li>
		  <li class = "one"><a href="/profile">Profile</a></li>

		</ul>
		
		{{{body}}}
</body>

<footer>Your session's total page visits: {{count}} </footer>
</html>