<form method="POST" action="/resturant">
  Name: <input type="text" name="name"> <br>
  Username: <input type="text" name="username"> <br>
  Verdict: <input type="text" name="verdict">  <br>
  <input type="submit" value="Submit"> 
</form>