<form method="POST" action="/resturant">
  Name: <input type="text" name="name"> <br>
  Cuisine: <input type="text" name="cuisine"> <br>
  Borough: <input type="text" name="borough"> <br>
  Price: <input type="text" name="price"> <br>
  Pictures: <input type="img" name="pictures">  <br>
  Review: <input type="text" name="review">  <br>
  <input type="submit" value="Submit"> 
</form>